.table {
  box-sizing: border-box;
  padding: 15px;
  height: 100vh;
  width: 100%;
  background-color: #282828;
  margin: 0;
}

.table__cont {
  max-width: 800px;
  max-height: 100px;
  margin: 0 auto;
    overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}

/* .table__th {
  width: 190px;
} */

.table__th-id {
  width: 100px;
}

.select {
  width: 100px;
  color: white;
  background-color:#282828;
}