.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.modal-blk {
  background-color: #282828;
  color: aliceblue;
}

.modal-g {
  background-color: #0C0032;
  color: aliceblue;

}